*{
    padding: 0px;
    margin: 0px ;
}
a{
    text-decoration: none;
    color: white;
}

html, body{
    font-family: Arial, Helvetica, sans-serif;
    
}
ul{
    list-style: none;
}
h1{
    color: white;
}
.menu{
    position: fixed;
    width: 23% ;
    float:left  ;
    background-color: rgb(61, 152, 255);
    height: 100%;
    background: linear-gradient(to right, rgba(7, 189, 235, 0.8), rgba(3, 131, 252, 0.8));
    box-shadow: 1px 1px 10px black;
}
.menu>p{
    text-align: center;
    padding: 50px 0px 50px 10px;
    color: white;
    font-size: 20px;       
}
.menu>ul>li>a{
    padding: 20px 35px ;
    display: block;
    
}
.menu>ul>li>a:hover{
    background-color: rgb(28, 25, 54);
    transition: 1s;
}
.headerTitle{
    background-color: rgb(28, 25, 54);
    width: 77%;
    float: right;
}
.headerTitle>h1{
    padding: 15px 15px 15px;
}
.dataHora{
    width: 630px;
    padding: 20px 0px;
    margin-left: 170px;
    display: flex;
    justify-content: space-between
}
.dataHoralabelInput>input{
margin-left: 0px;
}
#horarioSessao, #dataSessao{
    width: 150px;
    cursor: pointer;
    padding: 8px 10px;
    border: 1px solid rgba(0, 0, 0, 0.425);
    border-radius: 5px;
    outline: none;
}

.corpo{
    width: 75%;
    float: right;
    padding-top: 30px;   
    margin-bottom: 50px;
}
.corpo>p{
    font-size: 3em;
}
.corpo .labelInput{
    padding: 5px 0px;
    display: flex;
    width: 900px;
}
.corpo .labelInput>label{
    width: 170px;
    margin-top: 20px;
}
.corpo .labelInput>input{
    padding: 10px 0px;
    margin-right: 60px;
    border: none;
    border-bottom: 1px solid gray;
    width: 650px;    
    outline: none;
}

.corpo .divFieldset{
    display: flex;
    margin: 15px 0px 5px 170px;    
    width: 630px;
    justify-content: space-between;
}
.corpo .divFieldset>fieldset{
    border-radius: 5px;
    width: 270px;    
    border: 1px solid rgba(0, 0, 0, 0.644);
    
}

.corpo .divFieldset .labelRadio>div>input{
    margin: 1px 0px 0px 5px;
    cursor: pointer;    
}
.corpo .divFieldset .labelRadio>div>input:hover{
    transform: scale(1.1);
}
.corpo .divFieldset .labelRadio{
    padding: 7px;
    display: flex; 
    justify-content: space-evenly;  
}

.corpo .labelInput>.selectionInput{
    padding: 8px ;
    width: 630px;
    border-radius: 5px;   
    color: black;
    cursor: pointer;
    margin-top:8px;
    outline:none; 
    font-size: 15px;  
    transition: 0.2s;  

}
.corpo .labelInput>.selectionInput:hover{
    transform: scale(1.001);
    box-shadow: 1px 1px 8px 1px rgba(28, 25, 54, 0.301);
    transition: 0.2s;
}
.corpo .btn{
    padding: 35px 0px;
}
.corpo .btn>button{
    padding: 8px 15px;
    background-color: rgb(28, 25, 54);
    color: white;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    outline: none;
}
.corpo .btn>button:hover{
    background-color: rgba(28, 25, 54, 0.774)
}
.corpo .btn>button + button{
    background-color: green;
}
.corpo .btn>button + button:hover{
    background-color: rgba(0, 128, 0, 0.747);
}
.corpo .btn>button + button + button{
    background-color: red;
}
.corpo .btn>button + button + button:hover{
    background-color: rgba(241, 30, 30, 0.822)
}
.corpo .tabela{
    margin-top: 20px;    
    width: 1000px;
    border-collapse: collapse;
}
.corpo .tabela>thead{
    background-color: rgb(28, 25, 54);
}
.corpo .tabela>thead>tr>th{
    color: white;
    padding: 15px 8px;
    font-size: 13px;
    text-align: center;    
}
.corpo .tabela>tbody>tr>td{
    padding: 5px;
    font-size: 13px;
    color: black;
    text-align: center;
}
.tbleClienteNome {
    max-width: 400px;    
   
}
.tableClienteIdade{
    width: 35px;
}
.tableClienteEmail{
    width: 300px;
}
.tableClienteacao{
    width: 170px;
}
.tableFilmeNome{
    width: 300px;
}
.tableFilmeDuracao{
    width: 150px;
}
.tableFilmeGenero{
    width: 150px;
}
.tableFilmeAcao{
    width: 100px;
}
.tableSalaNome{
    width: 400px;
}
.tableSalaAcao{
    width: 100px;
}
#colNome{
   padding-left: 25px;
    text-align: start;
}

.taleSessaoFilme{
    width: 300px;
}
.taleSessaoSala{
    width: 170px;
}
.taleSessaoDublado{
    width: 135px;
}
.taleSessaotresD{
    width: 45px;
}
.taleSessaoData{
    width:  75px;
}
.taleSessaoInicio{
    width: 45px;
}
.taleSessaoAcao{
    width: 110px;
}
.telaReservaFilme{
    width: 200px;
}
.telaReservaData{
    width: 100px;
}
.telaReservaInicio{
    width: 60px;
}
.telaReservaSala{
    width: 60px;
}
.telaReservaCadeiras{
    width: 100px;
}
.telaReservaDublado{
    width: 60px;
}
.telaReservaCliente{
    width: 150px;
}
.telaReservaAcao{
    width: 110px;
}



.corpo .tabela .colIdade{
    width: 5px;
}

.corpo .fieldsetReserva{

    width: 800px;
    height: 270px;
    margin-top: 30px;
    padding: 15px;
}
.fieldsetReserva>h2{
    margin-top: 100px;
    text-align: center;    
}

.cadeira{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}
.cadeira>h5{
    padding-top: 5px;
}
.cadeira>.livre{
    display: flex;
    background-color: rgb(7, 146, 60);
    /* background-color: red; */
    border-radius: 2px;
    box-shadow: -1px 0px 1px 1px rgba(0, 0, 0, 0.562);
    color: white;
    width: 25px;
    height: 20px;
    justify-content: center;
    padding: 5px;
    border: 1.4px ridge rgba(0, 0, 0, 0.822);
    cursor: pointer;
}
.cadeira>.ocupado{
    display: flex;
    
    background-color: rgb(252, 10, 10);
    border-radius: 2px;
    box-shadow: -1px 0px 1px 1px rgba(0, 0, 0, 0.562);
    color: white;
    width: 25px;
    height: 20px;
    justify-content: center;
    padding: 5px;
    border: 1.4px ridge rgba(0, 0, 0, 0.822);
    cursor: pointer;
}
@keyframes slideMessage{
    from{
        opacity: 0;
        transform: translate3d(0px, -70px, 0px);
    }
    to{
        opacity:0.75;
        transform: translate3d(0px, 0px, 0px);
        
    }
}
.boxMsg{
    width: 100%;    
    position: absolute;     
    display: none;   
}
.mensagens{
    float:right ;
    width: 60%;
    margin:70px 120px 0px 0px;        
    background-color: red;
    opacity: 0.75;
    padding: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    box-shadow: 1px 1px 10px 2px black;
    animation: slideMessage 1s;
}
.mensagens>img{
    width: 15px;
    height: 15px;    
    float: right;
    cursor: pointer;
}
.boxMsg.aparece{
    display: block;
}
.iconeFechar{
    cursor: pointer;
}
.mensagens>img:hover{
   transform:scale(1.2) ;
}
.btnCrud>button{
    padding: 3px 10px;
    border: none;
    background-color: yellow;
    border-radius: 5px;
    color: black;
    font-size: 12px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.432);
    outline: none;
    
}
.btnCrud>button + button{
    background-color: red;
    color: white;
}
.btnCrud>button:hover{
    background-color: rgba(255, 255, 0, 0.473);
    transform: scale(1.04);
}
.btnCrud>button + button:hover{
    background-color: rgba(241, 30, 30, 0.822);
    
}
.loginCadastro{
    width: 450px;
    margin: 0px auto;
    margin-top: 50px;  
    border-radius: 5px;
    padding: 20px 10px;        

    background-color: rgb(61, 152, 255);   
    background: linear-gradient(to right, rgba(3, 131, 252, 0.8), rgba(7, 189, 235, 0.8));
    box-shadow: 1px 1px 10px black;
}
.loginCadastro>p{       
    margin-left: 95px;    
    padding: 25px 0px;
    font-size: 25px;     
    color:rgb(255, 255, 255); 
   
}
.labelInputLogin{
    padding: 5px 5px;
    display: flex;
    width: 100%;
 
}

.labelInputLogin>label{
    width: 70px;
    margin: 10px 10px 0px 10px;
}
.labelInputLogin>input{
    width: 300px;
    padding: 10px 10px;   
    border-radius: 5px;
    border: 1.1px solid rgba(0, 0, 0, 0.637);     
    outline: none;
}

.loginCadastro .btnLogin{
    margin:35px auto 15px;
    width: 200px;
}
.loginCadastro .btnLogin #btnlogar,#btnFazerCadastro,#btnVoltarLogin{
    width: 100%;
    padding: 8px 15px;   
    color: white;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    outline: none;
}
#btnlogar{
    background-color: rgb(28, 25, 54);
}
#btnlogar:hover{
    background-color: rgba(28, 25, 54, 0.808);
}
#btnFazerCadastro{
    border: 1px solid rgba(0, 0, 0, 0); 
    transition: 0.2s;    
    color: black;
    font-size: 13px;
    margin-left: 20px;
}
#btnFazerCadastro:hover{    
    border: 1px solid rgba(0, 0, 0, 0.651);    
    transition: 0.2s;
}
#btnVoltarLogin{
    border: 1px solid rgba(0, 0, 0, 0); 
    margin-left: 70px;
    font-size: 13px;
    color: black;
}
#btnVoltarLogin:hover{
    border: 1px solid rgba(0, 0, 0, 0.651);    
    transition: 0.2s;
}


#ouLogin{
    width: 450px;
    color: white;       
   
}
#ouLogin>div{
    width: 350px;    
    margin: 5px auto;
    text-align: center;
    margin-top: 25px;    
}
#index>img{
  margin-left: 75px;
  width: 750px;
  height: 450px;
}